# SPDX-License-Identifier: MIT-0
---
# handlers file for roles/setup_seed
- name: Load 8021q module
  community.general.modprobe:
   name: 8021q
   state: present
  become: true

- name: Apply netplan
  ansible.builtin.command: netplan apply
  become: true
  changed_when: false

- name: Restart tftpd-hpa
  ansible.builtin.systemd:
   name: tftpd-hpa
   state: restarted
   daemon_reload: true
  become: true

- name: Show TFTP status
  ansible.builtin.command: systemctl status tftpd-hpa
  become: true
  register: setup_seed_tftp_handler_status
  changed_when: false

- name: Reboot system
  ansible.builtin.reboot:
   msg: "Reboot initiated by Ansible"
   connect_timeout: 5
   reboot_timeout: 600
   pre_reboot_delay: 0
   post_reboot_delay: 30
   test_command: uptime
  become: true
