#SPDX-License-Identifier: MIT-0
---
# defaults file for setup-seed

packages_list_setup_seed:
  - ansible
  - wget
  - git
  - build-essential
  - golang-go
  - net-tools
  - iputils-ping
  - nano
  - screen
  - minicom
  - vlan
  - telnet
  - tftp-hpa:armhf
  - tftpd-hpa

apt_cache_valid_time: 3600
