# /etc/default/tftpd-hpa: Generated via Ansible using template

TFTP_USERNAME="{{ setup_seed_tftp_username }}"
TFTP_DIRECTORY="{{ setup_seed_tftp_directory }}"
TFTP_ADDRESS="{{ setup_seed_tftp_address }}"
TFTP_OPTIONS="{{ setup_seed_tftp_options }}"