# SPDX-License-Identifier: MIT-0
---
# Task: Install packages and configure services for seed setup

- name: Include packages core installation
  ansible.builtin.include_tasks: packages-core-task-seed.yml
  tags:
   - packages
   - core

# Task: Install terraform package
- name: Include packages terraform installation
  ansible.builtin.include_tasks: packages-terraform-task-seed.yml
  tags:
   - packages
   - terraform

# Task: Enable VLAN module

- name: Include kernel module configuration
  ansible.builtin.include_tasks: system-kernel-vlan-task-seed.yml
  tags:
   - kernel

- name: Include network configuration
  ansible.builtin.include_tasks: network-vlan-task-seed.yml
  tags:
   - network

# Task: Configure TFTP server

- name: Include TFTP server configuration
  ansible.builtin.include_tasks: service-tftp-task-seed.yml
  tags:
   - tftp

- name: Include firmware extraction
  ansible.builtin.include_tasks: firmware-extract-task-seed.yml
  tags:
   - firmware
# Task: Reboot if network configuration changed
# - name: "System: Reboot the system"
#   ansible.builtin.reboot:
#    msg: "Reboot initiated by Ansible for VLAN configuration"
#    connect_timeout: 5
#    reboot_timeout: 600
#    pre_reboot_delay: 0
#    post_reboot_delay: 30
#    test_command: uptime
#   become: true
#   when: netplan_config.changed
#   tags:
#    - network
#    - reboot
