# Task: Configure VLAN networking
---
- name: "VLAN: Create VLAN based Netplan configuration"
  ansible.builtin.copy:
   content: |
    network:
      version: 2
      ethernets:
        {{ primary_interface }}:
          dhcp4: true
      vlans:
        vlan6:
          id: 6
          link: {{ primary_interface }}
          dhcp4: false
          addresses: [{{ vlan6_address }}/23]
        vlan7:
          id: 7
          link: {{ primary_interface }}
          dhcp4: false
          addresses: [{{ vlan7_address }}/8]
        vlan8:
          id: 8
          link: {{ primary_interface }}
          dhcp4: false
          addresses: [{{ vlan8_address }}/26]
   dest: /etc/netplan/growbox-vlans.yaml
   owner: root
   group: root
   mode: "0600"
   backup: true
  become: true
  register: netplan_config
  tags:
   - network
   - vlan
   - netplan

- name: "VLAN: Apply Netplan configuration"
  ansible.builtin.command: netplan apply
  become: true
  when: netplan_config.changed
  changed_when: netplan_config.changed
  tags:
   - network
   - netplan

- name: "VLAN: Bring up VLAN 6 interface"
  ansible.builtin.command: ip link set dev vlan6 up
  become: true
  when: netplan_config.changed
  changed_when: false
  failed_when: false
  tags:
   - network
   - vlan

- name: "VLAN: Display IP addresses"
  ansible.builtin.command: ip addr show
  become: true
  register: ip_output
  changed_when: false
  tags:
   - network
   - verify

- name: "VLAN: Show IP configuration"
  ansible.builtin.debug:
   var: ip_output.stdout_lines
  tags:
   - network
   - verify
