# Task: Configure VLAN networking
---
# - name: "VLAN: Create VLAN based Netplan configuration"
#   ansible.builtin.template:
#    src: netplan-vlans.yml.j2
#    dest: /etc/netplan/growbox-vlans.yaml
#    owner: root
#    group: root
#    mode: "0600"
#    backup: true
#   become: true
#   register: setup_seed_netplan_config
#   tags:
#    - network
#    - vlan
#    - netplan

- name: "VLAN: Create Netplan VLAN configuration"
  ansible.builtin.template:
   src: netplan-vlans.yml.j2
   dest: /etc/netplan/growbox-vlans.yaml
   owner: root
   group: root
   mode: "0600"
   backup: true
  become: true
  tags:
   - network
   - vlan
   - netplan

- name: "VLAN: Apply Netplan configuration"
  ansible.builtin.command: netplan apply
  become: true
  notify: Apply netplan
  # when: setup_seed_netplan_config.changed
  # changed_when: setup_seed_netplan_config.changed
  tags:
   - network
   - vlan
   - netplan

- name: "VLAN: Bring up VLAN 6 interface"
  ansible.builtin.command: ip link set dev vlan6 up
  become: true
  when: setup_seed_netplan_config.changed
  changed_when: false
  failed_when: false
  tags:
   - network
   - vlan
   - netplan

- name: "VLAN: Display IP addresses"
  ansible.builtin.command: ip addr show
  become: true
  register: setup_seed_ip_output
  changed_when: false
  tags:
   - network
   - vlan
   - netplan
   - verify

- name: "VLAN: Show IP configuration"
  ansible.builtin.debug:
   var: setup_seed_ip_output.stdout_lines
  tags:
   - network
   - verify
   - vlan
   - netplan
