---
# Terraform installation from binary

- name: "Packages|Terraform: Check if Terraform Is Already Installed"
  ansible.builtin.command: terraform version
  register: setup_seed_terraform_exists_check
  changed_when: false
  failed_when: false
  tags:
   - terraform

- name: "Packages|Terraform: Checking if Required Terraform Version Exists"
  ansible.builtin.set_fact:
   setup_seed_terraform_version_exists: >-
    {{ setup_seed_terraform_exists_check.stdout is search('Terraform v' + (setup_seed_terraform_version_default | default('1.7.0'))) }}
  tags:
   - terraform

- name: "Packages|Terraform: Install Terraform"
  block:
   - name: "Packages|Terraform: Set download URL based on architecture"
     ansible.builtin.set_fact:
      setup_seed_terraform_arch: "{{ setup_seed_terraform_arch_default | default('arm') }}"
      setup_seed_terraform_version: "{{ setup_seed_terraform_version_default | default('1.7.0') }}"
     tags:
      - terraform

   - name: "Packages|Terraform: Set Download URL"
     ansible.builtin.set_fact:
      setup_seed_terraform_url: >-
       https://releases.hashicorp.com/terraform/{{ setup_seed_terraform_version }}
       /terraform_{{ setup_seed_terraform_version }}_linux_{{ setup_seed_terraform_arch }}.zip
     tags:
      - terraform

   - name: "Packages|Terraform: Display Download URL"
     ansible.builtin.debug:
      msg: "Downloading from: {{ setup_seed_terraform_url | replace(' ', '') }}"
     tags:
      - terraform

   - name: "Packages|Terraform: Download Terraform"
     ansible.builtin.get_url:
      url: "{{ setup_seed_terraform_url | replace(' ', '') }}"
      dest: /tmp/terraform.zip
      mode: "0644"
     tags:
      - terraform

   - name: "Packages|Terraform: Extract Terraform binary"
     ansible.builtin.unarchive:
      src: /tmp/terraform.zip
      dest: /usr/local/bin
      remote_src: true
      mode: "0755"
     become: true
     tags:
      - terraform

   - name: "Packages|Terraform: Remove Downloaded Zip"
     ansible.builtin.file:
      path: /tmp/terraform.zip
      state: absent
     tags:
      - terraform

   - name: "Packages|Terraform: Verify Terraform Installation"
     ansible.builtin.command: terraform version
     register: setup_seed_terraform_version_output
     changed_when: false
     tags:
      - terraform
      - verify

   - name: "Packages|Terraform: Display Terraform Version"
     ansible.builtin.debug:
      var: setup_seed_terraform_version_output.stdout_lines
     tags:
      - terraform
      - verify
  when: >
   not setup_seed_terraform_version_exists or
   setup_seed_terraform_force_install | default(false)
